.lewa,.srodek,.prawa{height: 70%;
    width: 33.3%;
    border: 1px solid black;
    float:left;
    padding: 10px;
    display: inline-block;
    }
.footer,.header{height: 15%;
    width: 100%;
    border: 1px solid black;
    display:inline-block;
    }
    
*{
    box-sizing:border-box;
}



