.lewa,.prawa{
    width: 15%;
    border: 1px solid black;
    float:left;
    padding: 10px;
    }
.footer,.header{
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    }
.srodek{
    width: 70%;
    border: 1px solid black;
    float:left;
    padding: 10px;
    }
.title{
width:100%;
text-align: center;
float: left;
font-size: 3vw;
}

.menu{
width: 25%;
float:left;
text-align: center;
border: 1px solid black;
font-size: 2.5vw;
background-image: linear-gradient(to right, rgb(255,153,95),rgb(224,215,56),rgb(255,153,95));
}
#author{
    font-size: 20px;
     animation:przesun 30s linear infinite;
}
.menu:hover{background-image: linear-gradient(to right, aqua, blue ,aqua);}
.main{display: flex;}
*{
    box-sizing:border-box;
    word-break:keep-all;
}
body{
    background-image: linear-gradient(to right, rgb(1,1,1), rgb(222,207,42), rgb(1,1,1));
}
@keyframes przesun
{
  0% { transform:translateX(0); }
  100% { transform:translateX(100%); }
}
